<ion-view view-title="Weather">

  <ion-searchbar>
  </ion-searchbar>

  <ion-content class="padding">
    <ion-item>
        <h2>Search City Weather:</h2>
      </ion-item>
      <ion-item>
      <div class='container'>
      <input  id='from' class='input' type='text' placeholder='Enter city Name...' ng-model='data.query' />
      <button class='button' ng-click='getWeather()'>Search</button>
      </div>
      <div class='container' ng-show="showMe">
        <h2 class='input1'> {{data.weather}}</h2>
        <button  class='button' ng-click='addToFavourites()'>Add to favorites</button>
        </div>
    </ion-item>
  <ion-item>
    <h2 ng-show="showSuccess">City {{data.query}} was added to Favorites</h2>
    </ion-item>

  </ion-content>
</ion-view>
